<section>
  <h1>Links</h1>
  <ul>
    <li><a href="http://www.macruby.org/">MacRuby » Home</a></li>
    <li><a href="https://github.com/MacRuby/MacRuby/downloads">MacRuby » Files</a> (<a href="http://macruby.macosforge.org/files/">old site</a>)</li>
    <li><a href="https://github.com/MacRuby/MacRuby/wiki">MacRuby » Wiki</a></li>
    <li><a href="https://github.com/MacRuby/MacRuby/issues">MacRuby » Issues</a></li>
  </ul>
  <br/>
  <ul>
    <li><a href="http://ofps.oreilly.com/titles/9781449380373/">MacRuby: The Definitive Guide</a></li>
    <li><a href="http://www.manning.com/lim/">Manning: MacRuby in Action</a></li>
  </ul>
  <br/>
  <ul>
    <li><a href="http://qiita.com/tags/macruby">Qiita に投稿された MacRuby の記事</a></li>
  </ul>
</section>
